* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f0f0f0;
}

/* ================= Topbar Start ================= */
.topbar {
  background: #0a8080;
  padding: 10px;
  color: #fff;
}
.topbar .task-icon {
  width: 30px;
  margin-right: 10px;
}
/* ================= Topbar End ================= */

/* ================= Main Content Start ================= */
.container {
  width: 80%;
  /* height: calc(100vh - 90px); */
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* ================= Main Content End ================= */

/* ================= Task Landing Start ================= */
.landing-header {
  padding-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(233, 228, 228);
}
/*================= Task Landing End ================= */

/* *================= Task Create Start *================= */
.task-create-edit {
  height: 100%;
}
/* *================= Task Create End *================= */

/* ================= Common CSS Start ================= */
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mr-2 {
  margin-right: 10px;
}
.mt-18 {
  margin-top: 18px;
}
.w-100 {
  width: 100%;
}
.ant-modal-content {
  height: 100%;
}
.text-right {
  text-align: right;
}
.ant-form-item {
  margin-bottom: 0 !important;
}
.global-loading {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ================= Common CSS End ================= */

/* ================= Scrollbar Start ================= */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-button {
  background: rgb(243, 239, 239);
}

::-webkit-scrollbar-track-piece {
  background: rgb(250, 250, 250);
}

::-webkit-scrollbar-thumb {
  background: rgb(165, 162, 162);
}
/* ================= Scrollbar End ================= */
